#granim-canvas {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.item-container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.37);
  width: 360px;
  height: 200px;

  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

// .item-img {
// }
.large-img {
  border-radius: 30px;
}
.desc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: 0;

  /* Стилі для підпису: */
  width: 100%;
  background-color: rgba(49, 149, 124, 0.669);
  color: rgba(255, 255, 255, 0.944);
  padding: 4px;
  text-align: center;
  box-sizing: border-box; /* Важливо для width: 100% + padding */
}
.item-title span {
  display: block;
}

.loader.isActive {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
  }
  66% {
    background: #ff3d00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
  }
}

input {
  text-align: center;
  border: none;
  outline: none;
  width: 240px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
  background-color: #ffffffe4;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 8px;
  padding: 20px;
  width: 300px;
  height: 100%;
  background-color: #ffffff55;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-bottom: 30px;
}

//: input and button
.btn {
  margin: 0 auto;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 200px;
  height: 40px;
  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: 300ms cubic-bezier(0.075, 0.82, 0.165, 1);

  &:focus,
  &:hover {
    background: #355ff6;
  }

  &:active {
    transform: scale(0.9);
    background: #4e75ff;
  }
}
